{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Live Broadcasting admin' %}

{% block page_content %}
    <p>Welcome, you can start adding channels to broadcast to and plan your first broadcasts.</p>
{% endblock %}
